body{
        color: rgb(53, 38, 104);
    }
    .box{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container{
        background-color: aliceblue;
        display: flex;
       flex-direction: column;
       align-items: center;
       padding: 20px;
    }
    .header >p{
       
        font-weight: 200;
        font-size: 40px;
    }
    .calcuateContainer{
        display: flex;
        flex-direction: column;
        gap: 10px;
        
        /* background-color: aliceblue; */
    }
    label{
        font-size: 30px;
    }
    input{
        height: 30px;
    }
    .guide li{
        padding: 10px;
        font-size: 20px;
    }
    button{
        background-color: rgb(16, 64, 105);
        color: aliceblue;
        padding: 10px;
        font-size: 20px;
    }
    button:hover{
        background-color: rgb(176, 183, 189);
        color: rgb(4, 42, 75);
    }
    #result{
        font-size: 20px ;
    }